<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nxlh.manager.mapper.TbIntervalSendcouponMapper">
    <resultMap id="BaseResultMap" type="com.nxlh.manager.model.dbo.TbIntervalSendcoupon">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
        <result column="isdelete" jdbcType="INTEGER" property="isdelete"/>
        <result column="couponid" jdbcType="VARCHAR" property="couponid"/>
        <result column="usertype" jdbcType="INTEGER" property="usertype"/>
        <result column="count" jdbcType="INTEGER" property="count"/>
        <result column="vipid" jdbcType="INTEGER" property="vipid"/>
    </resultMap>

    <resultMap id="joinCoupon" type="com.nxlh.manager.model.dto.IntervalSendcouponDTO" extends="BaseResultMap">
        <collection property="coupon" ofType="com.nxlh.manager.model.dto.CouponsDTO"
                    select="getCouponByid" column="couponid">
        </collection>
    </resultMap>

    <select id="getCouponByid" resultType="com.nxlh.manager.model.dto.CouponsDTO">
        SELECT *
        from tb_coupons
        where tb_coupons.isdelete = 0
          and tb_coupons.id = #{couponid}
    </select>


    <!--获取每月发放优惠券的信息并关联优惠券-->
    <select id="selectBypage" resultMap="joinCoupon">
        SELECT *
        FROM tb_interval_sendcoupon
        WHERE tb_interval_sendcoupon.isdelete = 0
    </select>


</mapper>