<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nxlh.manager.mapper.TbMqFailMapper">
  <resultMap id="BaseResultMap" type="com.nxlh.manager.model.dbo.TbMqFail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <result column="queue" jdbcType="VARCHAR" property="queue" />
    <result column="exchange" jdbcType="VARCHAR" property="exchange" />
    <result column="messagedata" jdbcType="LONGVARCHAR" property="messagedata" />
  </resultMap>
</mapper>