<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nxlh.manager.mapper.TbRoleMenuMapper">
    <resultMap id="BaseResultMap" type="com.nxlh.manager.model.dbo.TbRoleMenu">
        <!--
          WARNING - @mbg.generated
        -->
        <id column="id" jdbcType="VARCHAR" property="id"/>
        <result column="addtime" jdbcType="TIMESTAMP" property="addtime"/>
        <result column="isdelete" jdbcType="INTEGER" property="isdelete"/>
        <result column="menuid" jdbcType="VARCHAR" property="menuid"/>
        <result column="roleid" jdbcType="VARCHAR" property="roleid"/>
    </resultMap>




</mapper>