<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nxlh.manager.mapper.TbWxuserAddressMapper">
  <resultMap id="BaseResultMap" type="com.nxlh.manager.model.dbo.TbWxuserAddress">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <result column="wxuserid" jdbcType="VARCHAR" property="wxuserid" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="province" jdbcType="VARCHAR" property="province" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="area" jdbcType="VARCHAR" property="area" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phoneprefix" jdbcType="VARCHAR" property="phoneprefix" />
    <result column="isdefault" jdbcType="INTEGER" property="isdefault"/>
  </resultMap>


   <!--把指定用户的收货地址全部取消默认-->
  <update id="removeDefaultAddrByUserId" parameterType="String" >
     update tb_wxuser_address set isdefault=0 where wxuserid=#{id}
  </update>

</mapper>