<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nxlh.manager.mapper.TbWxuserOtherRecordMapper">
  <resultMap id="BaseResultMap" type="com.nxlh.manager.model.dbo.TbWxuserOtherRecord">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="addtime" jdbcType="TIMESTAMP" property="addtime" />
    <result column="isdelete" jdbcType="INTEGER" property="isdelete" />
    <result column="wxuserid" jdbcType="VARCHAR" property="wxuserid" />
    <result column="score" jdbcType="DECIMAL" property="score" />
    <result column="money" jdbcType="DECIMAL" property="money" />
  </resultMap>
</mapper>